.summary-card {
    background-color: #3f4c5a; /* Same background as card */
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 20px; /* Brings it down to align with bar graph */
}

.summary-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.summary-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #bbb;
}

.summary-container {
    display: flex;
    flex-direction: column;
}

.summary-item {
    background-color: inherit; /* Same as card background */
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.summary-item:hover {
    background-color: #2a313a; /* Darker hover effect */
    transform: translateY(-3px);
}

.month {
    font-size: 1.2rem;
    font-weight: bold;
}

.saved-amount {
    font-size: 1rem;
}

.saved-amount span {
    font-weight: bold;
}

.suggestion {
    font-size: 0.9rem;
    color: #ddd;
}

.separator {
    height: 1px;
    background-color: white;
    margin: 10px 0;
    width: 100%;
}
